<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    Ranqueamento dos Alunos
  </div>
  <div class="card-body">
    <!-- Seleção de Skills -->
    <div class="col-md-4 mb-3">
      <label for="skill">Selecione a Skill:</label>
      <select id="skill" [(ngModel)]="skillSelecionada" (change)="onSkillChange()" class="form-select">
        <option *ngFor="let skill of skills" [value]="skill.id">
          {{ skill.nome }}
        </option>
      </select>
    </div>

    <!-- Tabela de Alunos e Notas -->
    <table class="table table-striped" id="datatablesSimple">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of registros">
          <td>{{ item.aluno_nome }}</td>
          <td>{{ item.nota_final }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
