<form id="cadastroDisciplinaForm" (submit)="save()" [formGroup]="formDisciplina">
  <div class="backTitulo"><h3 class="tituloComponents">Cadastro de disciplinas</h3></div>
  <div class="form-row">
  <div class="col-md-2 mb-3">
        <label for="nome" class="form-label">Codigo</label>
        <input type="text" class="form-control" id="codigo" formControlName="codigo" placeholder="Codigo da disciplina">
    </div>
    <div class="col-md-4 mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome da Disciplina">
    </div>
    <div class="col-md-2 mb-3">
        <label for="carga horária" class="form-label">Carga horária</label>
        <input type="text" class="form-control" id="carga horária" formControlName="carga_horaria" placeholder="Carga Horaria">
    </div>
    <div class="col-md-2 mb-3">
        <label for="data inicio" class="form-label">Data Inicio</label>
        <input type="date" class="form-control" id="data inicio" formControlName="data_inicio" placeholder="Data Inicio">
    </div>
    <div class="col-md-2 mb-3">
        <label for="data fim" class="form-label">Data Fim</label>
        <input type="date" class="form-control" id="data fim" formControlName="data_fim" placeholder="Data Fim">
    </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" >Salvar</button>
  <button type="button" class="btn btn-secondary" routerLink="./..">Cancelar</button>

</div>
</form>
