<form (submit)="save()" [formGroup]="formCapacitacao">
  <div class="backTitulo"><h3 class="tituloComponents">Cadastro de Capacitações</h3></div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Digite o nome da capacitação">
    </div>
  </div>
    <div class="form-row">
    <div class="col-md-4 mb-3">
        <label for="carga_horaria" class="form-label">Carga Horária</label>
        <input type="text" class="form-control" id="carga_horaria" formControlName="carga_horaria"  placeholder="Digite a carga horária">
    </div>
    <div class="col-md-2 mb-3">
        <label for="data_inicio" class="form-label">Data de Início</label>
        <input type="date" class="form-control" id="data_inicio" formControlName="data_inicio"  placeholder="Data de Início">
    </div>

    <div class="col-md-2 mb-3">
        <label for="data_fim" class="form-label">Data de Encerramento</label>
        <input type="date" class="form-control" id="data_fim" formControlName="data_fim"  placeholder="Data de Encerramento">
    </div>
    <div class="col-md-3 mb-3">
      <label for="coordenador" class="form-label">Coordenador</label>
      <select id="coordenador" class="form-select" formControlName="coordenador_id">
          <option *ngFor="let c of coordenador" [ngValue]="c.id">{{c.nome}}</option>
      </select>
  </div>
  </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" >Salvar</button>
        <button type="button" class="btn btn-secondary" routerLink="./..">Cancelar</button>

    </div>
</form>
