<form id="cadastroTurmaForm" (submit)="save()" [formGroup]="formTurma">
  <div class="backTitulo"><h3 class="tituloComponents">Cadastro de Turmas</h3></div>
  <div class="form-row">
  <div class="col-md-4 mb-3">
        <label for="nomeSkill" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nomeSkill" formControlName="nome" placeholder="Nome da Turma" required>
    </div>

    <div class="col-md-2 mb-3">
        <label for="descricaoSkill" class="form-label">Quantidade de Vagas</label>
        <input type="text" class="form-control" id="descricaoSkill" formControlName="quant_vagas" placeholder="Número de vagas" required>
    </div>
    <div class="col-md-3 mb-3">
        <label for="capacitacao" class="form-label">Capacitação</label>
        <select id="capacitacao" class="form-select" formControlName="capacitacao_id">
            <option *ngFor="let c of capacitacao" [ngValue]="c.id">{{c.nome}}</option>
        </select>
    </div>
  </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" >Salvar</button>
        <button type="button" class="btn btn-secondary" routerLink="./..">Cancelar</button>

    </div>
</form>
